* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MAIN */
main {
    background-color: brown;
    height: 100vh;
}

.container {
    width: 80%;
}

.d-flex {
    display: flex;
    justify-content: space-around;
}